{% load static %}

{% block content %}

        <main class="main">
            <div class="crumbs-list">
    <div class="container">
        <ul class="crumbs-ul"><li><a href="../index.html">Главная</a></li>
<li><a href="../process-pokraski/index.html">Процесс покраски</a></li>
<li class="active">Условия эксплуатации</li></ul>
    </div>
</div>
            <div class="title-wp text_edit">
                <div class="container">
                    <h1>Условия эксплуатации</h1>
                </div>
            </div>
            <div class="text_edit">
                <div class="container">
                    <div class="img-left"><img alt="img" class="lazyload" data-src="/assets/cache_image/assets/template/images/eksplot_608x0_f46.png" src="../assets/cache_image/assets/template/images/no_events_image_608x0_f46.png" /></div>

<p>Изделия должны эксплуатироваться в сухих и теплых помещениях, не подверженных перепадам температуры, имеющих отопление и вентиляцию при температуре воздуха не ниже +10С и не выше +30С с относительной влажностью 45-60% (ГОСТ 16371-93). Существенные отклонения от указанных режимов приводят к значительному ухудшению потребительских качеств и повреждению мебели.</p>

<p>Следует оберегать изделия от механических повреждений, которые могут быть вызваны воздействием твердых предметов, абразивных порошков, а также чрезмерными физическими воздействиями.</p>

<p>Не допускается охлаждение изделий ниже -25С, возможно растрескивание лакокрасочного покрытия.</p>

<p>Следует оберегать крашеную мебель от попадания на ее поверхность жидкости, от механических повреждений, не ставить на нее горячие предметы без теплоизоляционной прокладки.</p>

<p>Не рекомендуется подвергать изделия длительному воздействию горячего воздуха.</p>

<p>Не допускается контакт с поверхностями или воздухом, температура которых превышает 70С. Расположение мебели ближе одного метра от отопительных приборов и других источников тепла, а также под прямыми солнечными лучами вызывает деформацию.</p>

<p>Во избежание выгибания МДФ и разбухания фасадов следует оберегать их поверхность от длительного воздействия влаги.</p>

<p>Недопустимо попадание на окрашенные поверхности жидкостей, растворяющих лакокрасочные покрытия (кислоты, растворителя, спирта, ацетона, бензина и др).</p>

<p>Уход за мебелью надлежит осуществлять с применением только качественных, специально предназначенных для этих целей чистящих и полирующих средств, в соответствии с прилагаемыми к ним инструкциями производителей о способе и области (поверхности, материалы) их применения. Пыль удаляется чистой, сухой и мягкой тканью (фланелью, сукном, плюшем и т.п.). Рекомендуется очищать окрашенное изделие как можно скорее после того, как оно загрязнилось.</p>
&nbsp;

<h2>Гарантия не распространяется в следующих случаях</h2>

<ul class="nocheck-list">
	<li>неисправность покрытия произошла по причине механических (порезы, царапины, а также на повреждения, возникшие в результате удара в процессе эксплуатации и пр.) или химических повреждений, либо повреждения вызваны попаданием на поверхность изделий жидкостей растворяющих лакокрасочные покрытия;</li>
	<li>естественного износа мебели <span style="color:#c33">*</span>;</li>
	<li>если повреждения вызваны стихией, пожаром, бытовыми или внешними факторами;</li>
	<li>не соблюдалась инструкция по эксплуатации или мебель использовалась не по назначению;</li>
	<li>умышленной или случайной порчи изделий, неправомерных действий третьих лиц либо действия обстоятельств непреодолимой силы;</li>
	<li>если покупатель не забрал свой заказ в установленный срок после уведомления о его готовности.</li>
</ul>

<div class="attern-text-block"><span style="color:#c33">*</span> под естественным износом мебели подразумевается снижение работоспособности ее механизмов и ухудшение внешнего вида в результате как естественного физического старения, так и влияния внешних неблагоприятных факторов (например, истирание декоративного покрытия рабочей поверхности столешницы, выгорание декоративных поверхностей под влиянием прямых солнечных лучей и т.д.).</div>

                    <br><br>
                </div>
            </div>
        </main>
        
{% endblock  %}