{% load static %} 
{% block content %}
<main class="main">
  <div class="crumbs-list">
    <div class="container">
      <ul class="crumbs-ul">
        <li><a href="../index.html">Главная</a></li>
        <li><a href="../process-pokraski/index.html">Процесс покраски</a></li>
        <li class="active">ГОСТ 16371. Мебель</li>
      </ul>
    </div>
  </div>
  <div class="title-wp text_edit">
    <div class="container">
      <h1>ГОСТ 16371. Мебель</h1>
    </div>
  </div>
  <div class="text_edit">
    <div class="container">
      <h3>
        Классы покрытий на поверхности изделий мебели из древесины и древесных
        материалов
      </h3>

      <p>Таблица А.1</p>
      <table>
        <tbody>
          <tr>
            <th>Вид поверхностей изделий мебели по ГОСТ 16371</th>
            <th>Класс покрытия, не ниже</th>
          </tr>
          <tr>
            <td>1. Видимые, лицевые:</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>— фасадные</td>
            <td>I</td>
          </tr>
          <tr>
            <td>— рабочие и прочие</td>
            <td>I, II</td>
          </tr>
          <tr>
            <td>2. Видимые, внутренние</td>
            <td>II</td>
          </tr>
          <tr>
            <td>3. Невидимые, наружные</td>
            <td>III</td>
          </tr>
          <tr>
            <td>4. Невидимые, внутренние</td>
            <td>IV</td>
          </tr>
          <tr>
            <td>
              5. Видимые и невидимые, с которыми в процессе эксплуатации изделий
              могут соприкасаться человек и (или) предметы
            </td>
            <td>V</td>
          </tr>
        </tbody>
      </table>

      <p>Таблица 1</p>
      <h3>Дефект внешнего вида покрытий для классов покрытия</h3>

      <table class="odd-highlight">
        <tbody>
          <tr>
            <th>Дефект внешнего вида покрытий</th>
            <th colspan="5">Показатель дефекта для покрытия класса</th>
          </tr>
          <tr class="highlight">
            <td>
              1. Царапины шириной до 0,5 мм, глубиной менее толщины покрытия:
            </td>
            <td>I</td>
            <td>II</td>
            <td>III</td>
            <td>IV</td>
            <td>V</td>
          </tr>
          <tr>
            <td>– количество, шт./м, не более</td>
            <td>не допускаются</td>
            <td>–</td>
            <td>2</td>
            <td>3</td>
            <td>допускаются</td>
          </tr>
          <tr>
            <td>– общая длина, см/м, не более</td>
            <td>–</td>
            <td>–</td>
            <td>2</td>
            <td>5</td>
            <td>10</td>
          </tr>
          <tr class="highlight">
            <td>2. Пузыри (в том числе проколы):</td>
            <td>I</td>
            <td>II</td>
            <td>III</td>
            <td>IV</td>
            <td>V</td>
          </tr>
          <tr>
            <td>– диаметром до 0,5 мм в количестве, шт./м, не более</td>
            <td>не допускаются</td>
            <td>–</td>
            <td>5</td>
            <td>10</td>
            <td>20</td>
          </tr>
          <tr>
            <td>– диаметром до 1,0 мм в количестве, шт./м, не более</td>
            <td>–</td>
            <td>–</td>
            <td>3</td>
            <td>5</td>
            <td>10</td>
          </tr>
          <tr class="highlight">
            <td>3. Включения в покрытиях:</td>
            <td>I</td>
            <td>II</td>
            <td>III</td>
            <td>IV</td>
            <td>V</td>
          </tr>
          <tr>
            <td>– диаметром до 0,5 мм в количестве, шт./м, не более</td>
            <td>не допускаются</td>
            <td>5</td>
            <td>5</td>
            <td>10</td>
            <td>допускаются</td>
          </tr>
          <tr>
            <td>– диаметром от 1,0 мм в количестве, шт./м, не более</td>
            <td>–</td>
            <td>3</td>
            <td>3</td>
            <td>5</td>
            <td>–</td>
          </tr>
          <tr class="highlight">
            <td>4. Включения под облицовкой:</td>
            <td>I</td>
            <td>II</td>
            <td>III</td>
            <td>IV</td>
            <td>V</td>
          </tr>
          <tr>
            <td>— диаметром от 1,0 мм в количестве, шт./м, не более</td>
            <td>не допускаются</td>
            <td>–</td>
            <td>3</td>
            <td>допускаются</td>
            <td>–</td>
          </tr>

          <tr class="highlight">
            <td>5. Пропуски лакокрасочного материала:</td>
            <td>I</td>
            <td>II</td>
            <td>III</td>
            <td>IV</td>
            <td>V</td>
          </tr>
          <tr>
            <td>– общей площадью, см/м, не более</td>
            <td>не допускаются</td>
            <td>–</td>
            <td>–</td>
            <td>5</td>
            <td>10</td>
          </tr>
          <tr class="highlight">
            <td>6. Потеки:</td>
            <td>I</td>
            <td>II</td>
            <td>III</td>
            <td>IV</td>
            <td>V</td>
          </tr>
          <tr>
            <td>– общей площадью, см/м, не более</td>
            <td>не допускаются</td>
            <td>–</td>
            <td>10</td>
            <td>20</td>
            <td>допускаются</td>
          </tr>
          <tr class="highlight">
            <td>7. Вмятины:</td>
            <td>I</td>
            <td>II</td>
            <td>III</td>
            <td>IV</td>
            <td>V</td>
          </tr>
          <tr>
            <td>– площадью не более 3 см в количестве, шт./м, не более</td>
            <td>не допускаются</td>
            <td>–</td>
            <td>2</td>
            <td>3</td>
            <td>10</td>
          </tr>
          <tr class="highlight">
            <td>8. Риски, штрихи, шагрень, структурные неровности:</td>
            <td>I</td>
            <td>II</td>
            <td>III</td>
            <td>IV</td>
            <td>V</td>
          </tr>
          <tr>
            <td></td>
            <td>не допускаются</td>
            <td>допускаются незначительные</td>
            <td>–</td>
            <td>–</td>
            <td>допускаются</td>
          </tr>
          <tr class="highlight">
            <td>9. Неравномерность глянца или матовости:</td>
            <td>I</td>
            <td>II</td>
            <td>III</td>
            <td>IV</td>
            <td>V</td>
          </tr>
          <tr>
            <td>– общей площадью, см /м, не более</td>
            <td>не допускается</td>
            <td>–</td>
            <td>10</td>
            <td>20</td>
            <td>допускается</td>
          </tr>
          <tr class="highlight">
            <td>10. Пятна:</td>
            <td>I</td>
            <td>II</td>
            <td>III</td>
            <td>IV</td>
            <td>V</td>
          </tr>
          <tr>
            <td>– диаметр, мм, не более</td>
            <td>не допускаются</td>
            <td>–</td>
            <td>5</td>
            <td>10</td>
            <td>допускаются</td>
          </tr>
          <tr>
            <td>— количество шт./м, не более</td>
            <td>–</td>
            <td>–</td>
            <td>2</td>
            <td>2</td>
            <td>–</td>
          </tr>
          <tr class="highlight">
            <td>11. Сколы, отслаивание, трещины</td>
            <td>I</td>
            <td>II</td>
            <td>III</td>
            <td>IV</td>
            <td>V</td>
          </tr>
          <tr>
            <td></td>
            <td>не допускаются</td>
            <td>–</td>
            <td>–</td>
            <td>–</td>
            <td>–</td>
          </tr>
          <tr class="highlight">
            <td>12. Поднятие ворса</td>
            <td>I</td>
            <td>II</td>
            <td>III</td>
            <td>IV</td>
            <td>V</td>
          </tr>
          <tr>
            <td></td>
            <td>не допускается</td>
            <td>–</td>
            <td>–</td>
            <td>допускается</td>
            <td>–</td>
          </tr>
          <tr class="highlight">
            <td>13. Разнооттеночность:</td>
            <td>I</td>
            <td>II</td>
            <td>III</td>
            <td>IV</td>
            <td>V</td>
          </tr>
          <tr>
            <td>– общей площадью, см/м, не более</td>
            <td>не допускается</td>
            <td>–</td>
            <td>10</td>
            <td>20</td>
            <td>допускается</td>
          </tr>
          <tr class="highlight">
            <td>14. Дефекты печати (расплывчатость и перекос рисунка)</td>
            <td>I</td>
            <td>II</td>
            <td>III</td>
            <td>IV</td>
            <td>V</td>
          </tr>
          <tr>
            <td></td>
            <td>не допускаются</td>
            <td>–</td>
            <td>–</td>
            <td>–</td>
            <td>–</td>
          </tr>
        </tbody>
      </table>

      <p><b>Примечания</b></p>

      <ol class="num-list">
        <li>
          На поверхности покрытия не допускается наличия дефектов одновременно
          более: III&nbsp;класса&nbsp;—&nbsp;3, IV&nbsp;класса&nbsp;—&nbsp;5.
        </li>
        <li>
          Скопление включений не допускается. Расстояние между включениями
          должно быть не менее 10 мм.
        </li>
        <li>
          Для деталей площадью менее 1 м количество дефектов пересчитывается на
          данную площадь, если получается не целое число, то значение округляют
          в сторону большего значения.
        </li>
        <li>
          Для покрытий всех классов допускается другое количество дефектов, если
          размер каждого дефекта и их суммарный размер не превышает указанного
          для данного класса в таблице.
        </li>
      </ol>

      <br /><br />
    </div>
  </div>
</main>

{% endblock %}
