{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}


<main class="main">
  <div class="crumbs-list">
    <div class="container">
      <ul class="crumbs-ul">
        <li><a href="{% url 'core:index' %}">Главная</a></li>
        <li class="active">Проекты и работы</li>
      </ul>
    </div>
  </div>
  <div class="title-wp text_edit">
    <div class="container">
      <h1>Проекты и работы</h1>
    </div>
  </div>

  <div class="works-block">
    <div class="container">
      <div class="photo-block">
        <div class="row">
          {% for project in projectimage_list %}
          <div
            class="col-lg-2 col-md-3 col-sm-4 col-xs-6 gallery_item"
            style="display: block"
          >
            <div class="photo-item">
              <a
                href="{{project.project_image.url}}"
                data-fancybox="images"
              >
              {% thumbnail project.project_image "370x347" crop="center" as im %}
              
                <img
                  src="{{im.url}}"
                  alt="Шпон + лак матовый в офисе"
                  title="Шпон + лак матовый в офисе"
                  data-tags="Все работы|Мебель из шпона|Офис|Покрытие матовым лаком"
                />
                {% endthumbnail %}
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock  %}
